*{
    margin: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 101vh;
    font-family: 'VT323';
    background: radial-gradient(circle at 10% 20%, rgb(90, 92, 106) 0%, rgb(32, 45, 58) 81.3%);
    padding-top: 20px;
}

.scores{
    display:flex;
    justify-content: space-between;
    color: aquamarine;
}

.game-border-1{
    border: solid 10px #040D12;
    border-radius: 20px;
    box-shadow: inset 0 0 0 10px #040D12;
} 

.game-border-2{
    border: solid 15px #183D3D;
    border-radius: 20px;
    box-shadow: inset 0 0 0 10px #183D3D;
}

.game-border-3{
    border: solid 25px #5C8374;
    border-radius: 20px;
    box-shadow: inset 0 0 0 30px #5C8374;
}

.game-border-4{
    border: solid 5px #93B1A6;
    border-radius: 20px;
    box-shadow: inset 0 0 0 30px #93B1A6;
}

.game-board{
    display: grid;
    grid-template-columns: repeat(20,20px);
    grid-template-rows: repeat(20,20px);
    background-color: #93B1A6;
    border-radius: 50px;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.instruction-text{
    width: 300px;
    text-align: center;
    position: absolute;
    top: 55%;
}

.snake-logo{
    width: 200px;
    justify-content: center;
    position: absolute;
    top: 20%;
}

.snake{
    border: #352F44 solid 10px;
    border-radius: 2px 5px 4px 9px;
    
}

.food{
    border: solid #8CABFF 2px;
    background-color: rgb(202, 17, 17);
    border-radius: 50px;   
}

button img{
    width: 30px;
}

button{
    border: solid #040D12 2px;
    box-shadow: inset 0 0 1px 2px #4283b8;
    border-radius: 5px;
    padding: 10px;
    background-color: #93B1A6;
}

button:hover{
    background-color: #59ad8f;
}

button:active{
    background-color: #23b985;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.upper-row-button{
    margin: 5px;
}

.up{
    transform: rotate(90deg);
}

.right{
    transform: rotate(180deg);
}

.down{
    transform: rotate(270deg);
}

@media(max-width:400px){

    body{
        margin: 0;
        padding: 0;
        overflow: hidden ;
        background: linear-gradient(rgb(46, 45, 45),rgb(51, 50, 50));
      
    }
    .game-board{
        grid-template-columns: repeat(25,12px);
        grid-template-rows: repeat(25,12px);
    }

    .snake{
        border: solid rgb(50, 50, 58) 6px;
        border-radius: 2px 3px 1px 4px ;
    }

    .instruction-text{
        font-size: 25px;
        width: 250px;
        top: 59%;
    }

    .snake-logo{
        width: 180px;
        top: 31%;
    }

    .game-border-3{
        border: solid 10px #5C8374;
        border-radius: 20px;
        box-shadow: inset 0 0 0 10px #5C8374;
    }
    .game-border-2{
        border: solid 5px #5C8374;
        border-radius: 20px;
        box-shadow: inset 0 0 0 5px #5C8374;
    }

}

@media(max-width:320px){
    body{
        background: gray;
    }
    .game-board{
        grid-template-columns: repeat(25,10px);
        grid-template-rows: repeat(25,10px);
    }

    .snake{
        border: solid rgb(50, 50, 58) 5px;
        border-radius: 2px 3px 1px 4px ;
    }

    .instruction-text{
        font-size: 20px;
        width: 200px;
        top: 47%;
    }

    .snake-logo{
        width: 180px;
        top: 15%;
    }

    .game-border-3{
        border: solid 10px #5C8374;
        border-radius: 20px;
        box-shadow: inset 0 0 0 10px #5C8374;
    }
    .game-border-2{
        border: solid 5px #5C8374;
        border-radius: 20px;
        box-shadow: inset 0 0 0 5px #5C8374;
    }
}
